@charset "utf-8";
/* CSS Document */

/* 여백 초기화  */
* { margin:0; padding:0; }

/* 목록 불릿 없애기 */
ol, ul { list-style:none; }

/* 하이퍼링크 설정 */
a:link { text-decoration:none; color:#000; }
a:hover { text-decoration:none; color:#000; }
a:visited { text-decoration:none; color:#000; }
a:active { text-decoration:none; color:#000; }
a:focus { text-decoration:none; color:#000; }


legend, caption { display:none; }
fieldset { border:0; }
input, select, textarea { vertical-align:middle; color:#000; font-size: 25px; font-weight: bold }


body { font-family: 'Noto sans KR', sans-serif; font-size:16px; line-height:26px; color:#000; background:#faf7ef; }

/*헤더영역*/

#header {width: 1200px; margin:0 auto; padding-top: 25px; position: relative; height: 212px;}
#header .logo {position: absolute; left: 50%; top: 25px; margin-left: -81px;}
#gnb {position: absolute; left: 50%; top: 160px; margin-left: -500px; font-family:'Noto Sans KR', sans-serif; width: 1000px;}
#gnb li {float: left; width: 20%; text-align:center;}
#gnb li a {display: block; color:#542705; font-weight:bold;}
#gnb li a:hover {color:#ffd86b;}




/*서브비주얼영역*/
#sub_visual {height: 463px;}
.sv1 {background: url("../images/sub/brand_visual.jpg") no-repeat center top;}
.sv2 {background: url("../images/sub/product_visual.jpg") no-repeat center top;}
.sv3 {background: url("../images/sub/store_visual.jpg") no-repeat center top;}
.sv4 {background: url("../images/sub/gutnews_visual.jpg") no-repeat center top;}
.sv5 {background: url("../images/sub/membership_visual.jpg") no-repeat center top;}
.visual_txt {width: 1200px; margin: 0 auto;}
.visual_txt h2 {font-family: 'Noto Serif KR'; font-weight: bold; 
color:#fff; font-size:81px; padding: 93px 0 97px 0;
letter-spacing: -1px;}
.sub_stit {font-family: 'Noto Serif KR'; font-weight:500; color:#fff; font-size:30px; line-height:36px; letter-spacing:-1px;
padding-bottom: 73px;}
#sub_visual .sub_stit span {color:#d0b56a;}
.breadcrumb {font-weight:500; color:#ffd86b;
background: url("../images/sub/home_icon.png") no-repeat left center;}
.breadcrumb a {color: #fff; padding-left:17px;}


/*컨텐츠영역*/
#contents  { margin: 0 auto; padding-top:130px;}


/*브랜드영역*/
#brand {overflow: auto; width: 1200px; margin: 0 auto;}
.about_stit {float: left; padding-right: 125px; height: 814px; border-right:2px solid #e7e7e7; }
.brand_desc{padding: 85px 0; text-align: center;}
#contents h4 {color:#542705; font-size:27px;letter-spacing: -1px;
padding-bottom: 50px;}
#brand .about_desc { font-family: "나눔고딕"; color:#5a5a5a; font-weight:500; font-size: 20px; padding-bottom: 80px;}
#brand .color ul li {float: left; padding-left: 20px;}
#brand .color ul li img { transition: all 0.5s ease-in-out 0.2s;}
#brand .color ul li img:hover {transform: scale(1.1,1.1);}
#brand .color p {font-family: "나눔고딕"; color:#5a5a5a; font-weight:500; font-size: 20px; padding: 17px 0 0 15px;}
#brand .brand_img h1 {float: right; padding-top: 63px; line-height: 0; width: 493px;}



/*프로덕트영역*/
#product {overflow: auto; width: 1200px; margin: 0 auto;}
#product .tabs li {float: left; border-bottom:2px solid #e7e7e7; padding-bottom:}
#product .tabs li:nth-child(2) {padding:0 260px;}
#product .tabs li a {display: block;color:#000; font-weight: bold; font-size:25px; letter-spacing: -1.5px; padding-bottom: 15px;}
#product .tabs li a.on {color:#ffd86b;}
#product .product_list {padding-top: 130px;}
#product .product_list li {float: left; width: 300px; padding:50px; height: 300px;}
#product .product_name {text-align: center; color:#000; font-size:20px; font-weight:bold; letter-spacing: -2px;}
#product .product_name span {font-size: 16px; font-weight:500; color:#5a5a5a;}
#product .product_list li:nth-child(1) p {padding-top:4px;}
#product .product_list li:nth-child(2) p {padding-top:17px;}
#product .product_list li:nth-child(4) p {padding-top:17px;}
#product .product_list li:nth-child(6) p {padding-top:1px;}
#product .product_list li:nth-child(8) p {padding-top:44px;}
#product .product_list li:nth-child(9) p {padding-top:5px;}

#product .product_list li:nth-child(1) img {margin-left: 10px;}
#product .product_list li:nth-child(2) img {margin-left: 25px;}
#product .product_list li:nth-child(3) img {margin-left: 25px;}
#product .product_list li:nth-child(4) img {margin-left: 45px;}
#product .product_list li:nth-child(5) img {margin-left: 25px;}
#product .product_list li:nth-child(6) img {margin-left: 25px;}
#product .product_list li:nth-child(7) img {margin-left: 5px;}
#product .product_list li:nth-child(8) img {margin-left: 10px;}
#product .product_list li:nth-child(9) img {margin-left: 25px;}

#product .product_list li img {transition:all 0.5s ease-in-out 0.2s;}
#product .product_list li img:hover {transform:scale(0.9,0.9);}



/*스토어영역*/
#store  {overflow:auto; width: 1200px; margin: 0 auto;}
#store .store_img {height:1700px; float: left; padding:75px 46px 0 0; border-right: 2px solid #e7e7e7;}
#store .img_txt {text-align: center; color:#542705; font-weight: bold; padding: 15px 0 112px; 0; letter-spacing: -1px;}
#store .store_map {float: right; padding-top: 75px; padding-left: 30px; text-align: center;}
#store .store_txt {color:#5a5a5a; font-weight: bold; font-size: 16px; padding: 15px 0;}
#store ul li {float: left; padding-bottom: 50px; }
#store ul li:nth-child(1) {margin: 0 20px 0 134px;;}
#store ul li a {display: block; color:#542705; border:1px solid #542705; padding:10px 21px; font-family:"나눔고딕"; font-size: 17px; transition: all 0.5s ease-in-out 0.2s; }
#store ul li a:hover {color:#fff; background:#e8d7a7; border: 1px solid #e8d7a7;}


/*구트뉴스_노티스 영역*/

#notice {width: 1200px; margin: 0 auto; overflow: auto;}
#notice .top_tap {padding-bottom:75px;}
#notice .top_tap li {float: left;}
#notice .top_tap li:nth-child(2) {padding:0 20px; font-weight: bold; color:#5a5a5a;}
#notice .top_tap li:nth-child(1) a {color:#542705;}
#notice .top_tap li:nth-child(3) {padding-right:561px;}
#notice .top_tap li a { color:#5a5a5a; font-weight:bold;}
#notice select {border: 1px solid #e7e7e7; height: 30px; padding: 5px; width: 70px; display: inline-block; font-size:13px; color:#542705;}
#notice input[type="text"]{height: 30px; border: 1px solid #e7e7e7; padding: 5px; box-sizing: border-box; font-size:13px; width:344px; color:#5a5a5a}
#notice input[type="button"] {background:#ffd86b; color:#542705; padding: 5px 15px; height: 30px; border: 1px solid #ffd86b; display: inline-block; font-size:13px; cursor: pointer;}

#notice .notice_board {position: relative; border-top:2px solid #e8d7a7;}
#notice .board_contents {border-bottom: 1px solid #e7e7e7;position: relative; background: url("../images/sub/notice_icon.png") no-repeat 25px center; height:155px;}
#notice .board_contents h3 {position: absolute; left:50%; top:0; margin-left: -485px; margin-top: 51px; font-size:23px; font-weight:600;}
#notice .board_stit a {position:absolute; left: 50%; top:0; margin-left: -485px; margin-top:88px; display: block; color:#5a5a5a; font-size:15px; font-weight:500px; }
#notice .board_date {position: absolute; right: 0; top:0; margin-right:124px; margin-top: 45px; color:#999999; font-size:14px; font-weight:500; }
#notice .board_views {position: absolute; right: 0; top:0; margin-right:25px; margin-top: 45px; color:#999999; font-size:14px; font-weight:500; }

#notice .page {text-align: center; padding-top: 50px;}
#notice .page li {display: inline-block; border:1px solid #e7e7e7; padding: 5px 15px; color:#542705}
#notice .page li.first {text-indent:-9999px; background: url("../images/sub/paging_first.png") no-repeat center center; border:none;  cursor: pointer;}
#notice .page li.prev {text-indent:-9999px; background: url("../images/sub/paging_prev.png") no-repeat center center; border:none;  cursor: pointer;}
#notice .page li.next {text-indent:-9999px; background: url("../images/sub/paging_next.png") no-repeat center center; border:none;  cursor: pointer;}
#notice .page li.last {text-indent:-9999px; background: url("../images/sub/paging_last.png") no-repeat center center; border:none;  cursor: pointer;}
#notice .page li.on {background:#ffd86b
; color:#fff; border:1px solid #ffd86b
;}
#notice .page li:nth-child(4) {cursor: pointer;}
#notice .page li:nth-child(5) {cursor: pointer;}



/*구트뉴스 이벤트 영역*/

#event {width: 1200px; margin: 0 auto; overflow: hidden; } 
#event .top_tap {padding-bottom:75px;}
#event .top_tap li {float: left;}
#event .top_tap li:nth-child(2) {padding:0 20px; font-weight: bold; color:#5a5a5a;}
#event .top_tap li:nth-child(3) a {color:#542705;}
#event .top_tap li:nth-child(3) {padding-right:561px;}
#event .top_tap li a { color:#5a5a5a; font-weight:bold;}
#event select {border: 1px solid #e7e7e7; height: 30px; padding: 5px; width: 70px; display: inline-block; font-size:13px; color:#542705;}
#event input[type="text"]{height: 30px; border: 1px solid #e7e7e7; padding: 5px; box-sizing: border-box; font-size:13px; width:344px; color:#5a5a5a}
#event input[type="button"] {background:#ffd86b; color:#542705; padding: 5px 15px; height: 30px; border: 1px solid #ffd86b; display: inline-block; font-size:13px; cursor: pointer;}


#event .event_img1 {float: left; width:487px; padding-bottom: 50px; height: 299px;}
#event .event_txt1 { float: right; width:680px; text-align: center; padding-top:80px; height: 299px; padding-left:33px; box-sizing: border-box;}

#event .event_img2 {float: left; width:487px; padding-bottom: 50px; height: 299px; clear: both;}
#event .event_txt2 { float: right; width:680px; text-align: center; padding-top:80px; height: 299px; padding-left:33px; box-sizing: border-box;}

#event .event_img3 {float: left; width:487px; padding-bottom: 50px; height: 299px; clear: both;}
#event .event_txt3 { float: right; width:680px; text-align: center; padding-top:80px; height: 299px; padding-left:33px; box-sizing: border-box;}

#event .event_img4 {float: left; width:487px;  padding-bottom:50px; height: 299px; clear: both;}
#event .event_txt4 { float: right; width:680px; text-align: center; padding-top:80px; height: 299px; padding-left:33px; box-sizing: border-box;}

#event .event_img5 {float: left; width:487px; height: 299px; clear: both;}
#event .event_txt5 { float: right; width:680px; text-align: center; padding-top:80px; height: 299px; padding-left:33px; box-sizing: border-box;}



#event .event_txt h2 {font-size:30px; padding-bottom: 25px;}
#event .event_desc {line-height:26px; color:#5a5a5a; font-weight:500; font-size:15px; padding: 25px 0;}
#event .event_date {color:#5a5a5a; font-weight:600; font-size:15px;}
#event .event_date span {color:#542705; font-weight:600;}


.page {text-align: center; padding-top: 50px;}
.page li {display: inline-block; border:1px solid #e7e7e7; padding: 5px 15px; color:#542705}
.page li.first {text-indent:-9999px; background: url("../images/sub/paging_first.png") no-repeat center center; border:none;  cursor: pointer;}
.page li.prev {text-indent:-9999px; background: url("../images/sub/paging_prev.png") no-repeat center center; border:none;  cursor: pointer;}
.page li.next {text-indent:-9999px; background: url("../images/sub/paging_next.png") no-repeat center center; border:none;  cursor: pointer;}
.page li.last {text-indent:-9999px; background: url("../images/sub/paging_last.png") no-repeat center center; border:none;  cursor: pointer;}
.page li.on {background:#ffd86b
; color:#fff; border:1px solid #ffd86b
;}
.page li:nth-child(4) {cursor: pointer;}
.page li:nth-child(5) {cursor: pointer;}



/*멤버쉽 영역*/
#membership {overflow-x:hidden;}
#membership .membership_card {position:relative;}
#membership .membership_card h2 {position: absolute; right: 0; top: 0; margin-right:395px; margin-top: 115px; color:#542705; font-size:38px; letter-spacing: -2px; }
#membership .membership_card p {position: absolute; right: 0; top: 0; margin-right: 391px; margin-top: 181px; color:#5a5a5a; font-size: 18px; line-height: 28px; font-weight:530; text-align: center; }

#membership_contents {width: 1200px; margin: 0 auto; padding:50px 0 0 0; letter-spacing: -1px;}
#membership_contents h2 {font-size:39px; color:#542705; padding-bottom: 50px;}
#membership_contents .card_issued {color:#5a5a5a; font-weight:bold; font-size:21px; padding-bottom: 130px;}
#membership_contents .card_issued span {color:#000;}
#membership_contents .guide_title {font-size:21px; color:#000; font-weight:bolder; padding-bottom: 15px;}
#membership_contents .point_desc {color:#5a5a5a; font-weight:500; padding-bottom: 50px;}
#membership_contents .coupon_desc {color:#5a5a5a; font-weight:500; padding-bottom: 50px;}
#membership_contents .chocolate_desc {color:#5a5a5a; font-weight:500; padding-bottom: 130px;}
#membership_contents .mem_notice {color:#5a5a5a; font-weight:bold; font-size:21px; line-height:31px;}
#membership_contents .mem_notice span {display: block; padding-bottom:15px;}

/*푸터영역*/
#footer {font-family:'Noto Sans KR', sans-serif; height: 235px; clear: both; font-size:14px; overflow: auto; background: #542705; margin-top: 130px}
#footer .footer_inner { width: 1200px; margin: 0 auto;
position: relative;}
#footer .foot_logo {position: absolute; left: 0; top: 78px;}
#footer .foot_link {position: absolute; left: 400px; top: 70px;}
#footer .foot_link li {float: left; padding-right: 30px;}
#footer .foot_link li a {display: block; color:#fff; font-weight:500;}
#footer .foot_link li a:hover {color:#ffd76b;}
#footer address {position: absolute; left:265px; top: 105px;
text-align: center; font-style:normal; color:#fff;}
#footer .sns {position: absolute; right:0; top: 105px;}
#footer .sns li {float: left; padding-left: 15px;}

